[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    ganrc/_version.py,
    docs/source/conf.py
ignore = E501, W503  # This comment should not be part of the ignore option
max-line-length = 88  
