tensorflow==2.9.0
tensorflow_addons==0.19.0
tifffile==2023.12.9
torch==2.3.0
torchvision==0.18.0
ConfigParser==7.0.0
cx_Freeze==7.0.0
kornia==0.7.2
matplotlib==3.3.2
numpy==1.24.2
py2exe==0.13.0.1
setuptools==67.6.0
sphinx_rtd_theme==2.0.0

